<div class="container">
  <h1>Sign up Page</h1>
</div>
<div>
</div>
<form class="needs-validation container" method="post" action="/signup" novalidate>
  {{#if info}}
  <h5 class="validation-info">{{info}}</h5>
  {{/if}}
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationTooltip01">First name</label>
      <input type="text" class="form-control" name="firstName" id="validationTooltip01" placeholder="First name"
        required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltip02">Last name</label>
      <input type="text" class="form-control" name="lastName" id="validationTooltip02" placeholder="Last name" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltipUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
        </div>
        <input type="email" class="form-control" name="userName" id="validationTooltipUsername" placeholder="Username"
          aria-describedby="validationTooltipUsernamePrepend" required>
        <div class="invalid-tooltip">
          Please choose a unique and valid username.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationTooltip01">Password</label>
      <input type="password" class="form-control" name="password" id="validationTooltip01" placeholder="Password"
        required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltip02">Confirm Password</label>
      <input type="password" class="form-control" name="confirmPassword" id="validationTooltip02" placeholder="Confirm Password"
         required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationTooltipUsername">Phone Number</label>
      <div class="input-group">
        <input type="text" class="form-control" name="phoneNumber" id="validationTooltipUsername" placeholder="Phone #"
          aria-describedby="validationTooltipUsernamePrepend" required>
        <div class="invalid-tooltip">
          Please choose a unique and valid username.
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationTooltip03">Street/City</label>
      <input type="text" class="form-control" name="city" id="validationTooltip03" placeholder="Street/City" required>
      <div class="invalid-tooltip">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationTooltip04">State</label>
      <input type="text" class="form-control" name="state" id="validationTooltip04" placeholder="State" required>
      <div class="invalid-tooltip">
        Please provide a valid state.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationTooltip05">Zip</label>
      <input type="text" class="form-control" name="postal" id="validationTooltip05" placeholder="Zip" required>
      <div class="invalid-tooltip">
        Please provide a valid zip.
      </div>
    </div>
  </div>

  <button class="btn 00000000000000000000000000000000000000000000000000btn-primary" type="submit">Signup</button>
</form>